<html>
    <head>
        <title> Control panel Robot </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/sty.css')}}">

    </head>
    <body>
<h1> Control panel for robot </h1>
<div class="container">
<button class="btn btn1"><a href = "/forward/">forward</a></button> 
<button class="btn btn1"><a href = "/backward/">backward</a></button> 
<button class="btn btn1"><a href = "/stop/">stop</a></button> 
<button class="btn btn1"><a href = "/left/">left</a></button> 
<button class="btn btn1"><a href = "/right/">right</a></button> 


</div>
    </body>
</html>